.page-header {
	border: 1px solid LightGrey;
    background-color: #006400;
    margin-top: 0;
    padding: 10px 10px 10px 20px;
}




.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {

    font-size: 36pt;
    font-family: times, Times New Roman, times-roman, georgia, serif;
	color: white;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}

.links{
	border: 1px solid LightGrey;
	background-color: white;
  margin-bottom: 20px;

}

.content {

	border: 1px solid LightGrey;
	background-color: white;
    margin-center: 40px;
}


 h2, h3, h4 {
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
		color: black;
	font-size: 24px;
}

.linkfont{
	padding: 0px 10px 10px 20px;
}

.data {
    color: #A9A9A9;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #708090;
		font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
		color: black;
		font-size: 51px;
}
body {
	background-color: #F5F5F5;
}
